@CHARSET "ISO-8859-1";

.CSSEmployeeDetailsTable {
	margin: 0px;
	padding: 0px;
	width: 100%;
	box-shadow: 10px 10px 5px #888888;
	border: 1px solid #000000;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	-webkit-border-bottom-right-radius: 0px;
	border-bottom-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	-webkit-border-top-right-radius: 0px;
	border-top-right-radius: 0px;
	-moz-border-radius-topleft: 0px;
	-webkit-border-top-left-radius: 0px;
	border-top-left-radius: 0px;
}

.CSSEmployeeDetailsTable table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

.CSSEmployeeDetailsTable tr:last-child td:last-child {
	-moz-border-radius-bottomright: 0px;
	-webkit-border-bottom-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.CSSEmployeeDetailsTable table tr:first-child td:first-child {
	-moz-border-radius-topleft: 0px;
	-webkit-border-top-left-radius: 0px;
	border-top-left-radius: 0px;
}

.CSSEmployeeDetailsTable table tr:first-child td:last-child {
	-moz-border-radius-topright: 0px;
	-webkit-border-top-right-radius: 0px;
	border-top-right-radius: 0px;
}

.CSSEmployeeDetailsTable tr:last-child td:first-child {
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.CSSEmployeeDetailsTable tr:hover td {
	background-color: #d3e9ff;
}

.CSSEmployeeDetailsTable td {
	vertical-align: middle;
	background: -o-linear-gradient(bottom, #ffffff 5%, #d3e9ff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff
		), color-stop(1, #d3e9ff));
	background: -moz-linear-gradient(center top, #ffffff 5%, #d3e9ff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",
		endColorstr="#d3e9ff");
	background: -o-linear-gradient(top, #ffffff, d3e9ff);
	background-color: #ffffff;
	border: 1px solid #000000;
	border-width: 0px 1px 1px 0px;
	text-align: center;
	padding: 5px;
	font-size: 16px;
	font-family: Arial;
	font-weight: normal;
	color: #000000;
}

.CSSEmployeeDetailsTable tr:last-child td {
	border-width: 0px 1px 0px 0px;
}

.CSSEmployeeDetailsTable tr td:last-child {
	border-width: 0px 0px 1px 0px;
}

.CSSEmployeeDetailsTable tr:last-child td:last-child {
	border-width: 0px 0px 0px 0px;
}

.CSSEmployeeDetailsTable tr:first-child td {
	background: -o-linear-gradient(bottom, #0057af 5%, #007fff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0057af
		), color-stop(1, #007fff));
	background: -moz-linear-gradient(center top, #0057af 5%, #007fff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0057af",
		endColorstr="#007fff");
	background: -o-linear-gradient(top, #0057af, 007fff);
	background-color: #0057af;
	border: 0px solid #000000;
	text-align: center;
	border-width: 0px 0px 1px 1px;
	font-size: 17px;
	font-family: Arial;
	font-weight: bold;
	color: #ffffff;
}

.CSSEmployeeDetailsTable tr:first-child:hover td {
	background: -o-linear-gradient(bottom, #0057af 5%, #007fff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0057af
		), color-stop(1, #007fff));
	background: -moz-linear-gradient(center top, #0057af 5%, #007fff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0057af",
		endColorstr="#007fff");
	background: -o-linear-gradient(top, #0057af, 007fff);
	background-color: #0057af;
}

.CSSEmployeeDetailsTable tr:first-child td:first-child {
	border-width: 0px 0px 1px 0px;
}

.CSSEmployeeDetailsTable tr:first-child td:last-child {
	border-width: 0px 0px 1px 1px;
}