@CHARSET "ISO-8859-1";

.CSSTableGenerator {
       margin-left: 20%;
       padding: 0px;
       margin-top: 1%;
       width: 60%;
       box-shadow: 10px 10px 5px #888888;
       -moz-border-radius-bottomleft: 0px;
       -webkit-border-bottom-left-radius: 0px;
       border-bottom-left-radius: 7px;
       -moz-border-radius-bottomright: 0px;
       -webkit-border-bottom-right-radius: 0px;
       border-bottom-right-radius: 7px;
       -moz-border-radius-topright: 0px;
       -webkit-border-top-right-radius: 0px;
       border-top-right-radius: 7px;
       -moz-border-radius-topleft: 0px;
       -webkit-border-top-left-radius: 0px;
       border-top-left-radius: 7px;
}
 
.CSSTableGenerator table {
       border-collapse: collapse;
       border-spacing: 0;
       width: 100%;
       height: 100%;
       margin: 0px;
       padding: 0px;
}
 
.CSSTableGenerator tr:last-child td:last-child {
       -moz-border-radius-bottomright: 0px;
       -webkit-border-bottom-right-radius: 0px;
       border-bottom-right-radius: 7px;
}
 
.CSSTableGenerator table tr:first-child td:first-child {
       -moz-border-radius-topleft: 0px;
       -webkit-border-top-left-radius: 0px;
       border-top-left-radius: 7px;
}
 
.CSSTableGenerator table tr:first-child td:last-child {
       -moz-border-radius-topright: 0px;
       -webkit-border-top-right-radius: 0px;
       border-top-right-radius: 7px;
}
 
.CSSTableGenerator tr:last-child td:first-child {
       -moz-border-radius-bottomleft: 0px;
       -webkit-border-bottom-left-radius: 0px;
       border-bottom-left-radius: 7px;
}
 
.CSSTableGenerator tr:hover td {
      
}
 
.CSSTableGenerator tr:nth-child(odd) {
       background-color: #ffffff;
}
 
.CSSTableGenerator tr:nth-child(even) {
       background-color: #C9DAE3;
}
 
.CSSTableGenerator td {
       vertical-align: middle;
       border-width: 0px 1px 1px 0px;
       text-align: left;
       padding: 7px;
       font-size: 15px;
       font-family: Times New Roman;
       font-weight: normal;
       color: #000000;
       width: 20%;
}
 
.CSSTableGenerator tr:first-child td:last-child {
       border-width: 0px 0px 1px 1px;
       width: 20%;
}
 
table.tableSection thead, table.tableSection tbody {
       float: right;
       width: 100%;
}
 
table.tableSection tbody {
       overflow: auto;
       height: 320px;
}
 
table.tableSection tr {
       width: 100%;
       display: table;
       text-align: left;
}